@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px;
}

.contents {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}
.right-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

button.sign-up {
    max-width: 100px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}