
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 4px 24px;

}

header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 20px;
    gap: 600px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.contents {
    display: flex;
    flex-direction: right;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding-bottom: 100px;
    padding-top: 60px;

}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    max-width: 500px;
    color: #F9FAF8;
}

.content-image {
    max-width: 500px;
    max-height: 250px;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    font-size: 18px;
    margin-bottom: 12px;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-header {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}
.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    text-align: center;
}

.quote-information {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E5E7EB;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding-top: 100px;
    padding-right: 200px;
    padding-left: 200px;
}

.quote-person {
    display: flex;
    justify-content: flex-end;
    padding-right: 210px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 100px;
}

.project-image {
    border-radius: 30px;
    border: 3px solid #3882F6;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #3882F6;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
    color: #F9FAF8;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.action-header {
    font-weight: 900;
}

.action-words {
    font-weight: lighter;
}

button.action-button {
    background: #3882F6;
    border: 1px solid #F9FAF8;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

button.sign-up {
    max-width: 100px;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}